<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <span>© 2018 Copyright</span> 
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->
    