<main role="main" class="container">
	<div class="row justify-content-center">
		<h2> Please enter your login credentials</h2>
	</div>
	<br>
	<form action="/login" method="POST" class="form-signin">
	<div class="form-group">
		<div class="row justify-content-center">
				<div class="col-4">
					<label label = "loginUsername">Username</label>
					<input type="text" class="form-control" id="loginUsername" placeholder="Username" name="username">
				</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row justify-content-center">
				<div class="col-4">
					<label label="userPassword">Password</label>
					<input type="password" class="form-control" placeholder="Password" id="loginPassword" name="password">
				</div>
			</div>
	</div>
	<br>
	<div class="row justify-content-center">
		<button class="btn btn-success"> Submit </button>
	</div>
	</form>
</main>

