<main role="main" class="container">
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select Reports
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenu">
			<a class="dropdown-item" href="/companyStatistics">View Award Reports</a>
			<a class="dropdown-item" href="#">View Other Reports</a>
			<a class="dropdown-item" href="#">View Analytics</a>
		</div>
	</div>
</main>